page-profile {
  img {
    width: 100%;
    height: 100%;
  }
  .datas {
    ion-avatar {
      max-width: 70px;
      max-height: 70px;
    }
    span {
      display: block;
      text-align: center;
      &.number {
        font-weight: bold;
      }
    }
  }
  
  .photos {
    ion-col {
      padding: 0
    }
  }
}
